
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script&family=Festive&family=Merriweather:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
  margin: 0;
  padding: 0;
box-sizing: border-boxs; 
font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body{
   background-image: url(/assests/images/spoon.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 section.all{
  position: relative;
  left: 5px;
  right: px;
  width: 100%;
background: rgba(255, 255, 255, 0.18);
backdrop-filter: blur(30px);
border: 1px solid rgba(255, 255, 255, 0.18);
border-radius: 10px;
opacity: 8;
} 

.container{
  /* border: 6px solid rgb(22, 199, 22); */
  padding-left: 30px;
  padding-right: 0px;
  
}

.body{
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(23px);
-webkit-backdrop-filter: blur(23px);
border: 1px solid rgba(255, 255, 255, 0.77);
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 70px;

}

.nav .navmenu ul{
  display: flex;
  flex-direction: row;
  padding: 0 30px; 
  overflow: hidden;
}
.logo img{
    height: 80px;
    width: 94px;
  }
ul{
  list-style: none;
}
ul li{
  margin-left: 30px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

ul li:hover{
  color: #918e5e;
  border-radius: 10px;
  background: transparent;
  font-weight: bold;
  transition: all ease 0.1s;
  text-decoration: underline;
  font-size: 16px;
}
.left-nav-menu{
  display: flex;
  align-items: center;
}
.left-nav-menu a{
margin-right: 3rem;
text-decoration: none;
border: 1px solid;
padding: 4px 5px;
/* background: transparent; */
border-radius: 15px;
color: black;
font-size: 17px;
background: #64e0a8;
}
.left-nav-menu a:hover{
  background: transparent;
  /* background: #64e0a8; */
  transition: 0.3s ease-in-out;
  padding: 4px 5px;
}
.hamburger{
 background: transparent;
}
.hamburger .line{
    height: 4px;
    width: 24px;
    background-color: black;
    border-radius: 2px;
   margin: 3px 0;
   cursor: pointer;
}
.navmenu{
  /* display: none; */
}
.navmenu .show{
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing{ 
display: grid;
grid-template-columns: 55% 45%;
/* margin-bottom: -40px;  */
}

.left{
  font-weight: 600;
  font-family: 'Merriweather', serif;
  padding: 60px 40px;
  margin-top: 8rem;
  margin-left: 3rem;
  max-height: 20rem;
 
}
.left p{
  margin-top: 30px;
}

.button{
 margin-top: 50px;
}
.menubutton{
background-color: rgb(146, 103, 48);
color: rgb(200, 123, 123);
text-decoration: none;
border-radius: 20px;
padding: 10px 20px;
background: transparent;
border: 1px solid black;
}
.menubutton:hover{
  height: 120px;
  width: 50px;
  font-size: 18px;
}
.button a{
  margin: 0 10px;
}

.right{ 
width: 100%;
height: 60px;
background-image: url('/assests/images/burger.png');
background-repeat: no-repeat;
  margin-top: 4rem; 
  margin-left: 10rem;
  animation: changeimage 200s linear infinite;
}
.right{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  text-align: center;
  margin-bottom: 14rem;

}
.right-outer{
  width: 8rem;
  height:11rem;
  border-radius: 13px;
  border: 1px solid black;
}
.right-inner img{
  position: relative ;
  width: 8rem;
  height:11rem;
  border-radius: 10px;
}

.col{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  margin-left: 133px; 
  transition:.4s;
}
.col1 img{

  width: 13rem;
 margin-left: 3em;
}

/* hover card section */
.card{
  position: relative;
  width: 150px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  padding:0 30px;
  padding-top: 20px;
  padding-bottom: 70px;
  cursor: pointer;
}
.card:hover{
  height: 200px;
}
.card:hover .content {
  margin-top: 70px;
  opacity: 1;
}
.card:hover .imgbox{
  transform: translateY(-90px); 
  transition: 0.5s;
}

.imgbox{
  position: relative;
  width: 150px;
  height: 250px;
  z-index: 4;
}

.imgbox img{
  position: absolute;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 60, 90);
} 
.content h2{
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  color: #5f6366;
  opacity: 0;
  text-decoration: underline;
}

.content{
   padding-top: 30px; 
  text-align: left;
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
}
.card-container{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin-left: 225px;
  margin-top: 40px;
}
/* hover card section ends */

/* offer Section */
.section-title h1{
display: flex;
align-content: center;
justify-content: center;
text-transform: capitalize;
 }

.section-title p{
  display: flex;
  align-content: center;
  justify-content: center;
}

.section-title p{
  font-weight: 600;
}
.section-title p{
  font-weight: 600;
  text-align: center;
   display: flex;
  align-items: center;
  justify-content: center; 
}

/* menu section starts */
 .menu-tabs{
  text-align: center;
  padding: 0 15px;      
  width: 100%;
}
.menu-section .section-title{
  margin-bottom: 30px;
}
.menu-tab-item{
  margin: 0 10px;
font-size: 15px;
text-transform: capitalize;
border: none;
font-weight: 800;
cursor: pointer;
background-color: transparent;
transition: #5f6366 0.3 ease-in-out;
display: inline-block;
}
.menu-tabs .active{
  color: #918e5e;
}
.row {
  margin-top: 30px;
} 

.menu-item-title img{
  width: 85px;
  text-align: center;
}
.menu-item{
  width: 50%;
  padding:20px 15px;
  position: relative;

}
.menu-item::after{
  content: '';
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
  border-bottom: 3px solid aqua;
 } */

.menu-item-title{
text-align: center;
}

/* new menu card css starts */
.menu-tab-content-grid{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: auto;
  row-gap: 5rem;
  margin-left: 11rem;
  column-gap: 3rem;
}
.menu-item{
/* position: relative; */
width: 20rem;
height: 30rem;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  padding:0 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  cursor: pointer;
  font-family:  'Poppins', sans-serif;
}
.menu-item-img{
  width: 18rem;
  height:16rem;
  border-radius: 10px;
}

.menu-item-img img{
   position: relative ;
  width: 20rem;
  border-radius: 10px;
}
.menu-item-name{
text-transform: uppercase;
  color: black;
}
.menu-items-descriptions{
  margin-top: -3rem;
  margin-left: .8rem;
  margin-right: .8rem;
}
.menu-items-descriptions div{
  margin-top: 14px;
}
.button-container{
  border: 1px solid rgb(131, 99, 99);
  opacity: .8;
  width: 9rem;
  height: 2rem;
  border-radius: 29px;
  margin-bottom: 7px;
}
.button-container:hover{
  background: #99a483;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.card-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 0.7rem;
}
.card-icon{
  margin-left: 10px;
  margin-bottom: 17px;
  color: rgb(11, 26, 20);
  font-weight: bold;
}
.card-button p{
font-weight: 600;
font-size: 15px;
}
.price h4{
font-weight: 600;
font-size: 15px;
}
.menu-items-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-item:hover{
 margin-left: 2rem;
 transition: 0.9s ease-in-out   ;
}

/* about us section starts */
.aboutus section .section-title{
 display: flex;
 align-items: center;
}
.section-title h2{
  font-size: 30px;
}
.aboutus-section .rows{
  display: grid;
  grid-template-columns: 50% 50%;
}
.about-img img{
  border-radius: 30px;
  background: transparent;
  margin-left: 17rem; 
}
.aboutus-section .row .rows{
  margin-top: 47px;
}
.aboutus-section .rows.about-text{
  margin-left: 3rem;
}
.aboutus-section .about-text h3{
padding-bottom: 18px;
}
.about-text{
  margin-left: 55px;
}

/* buttons */
.about-text a.btn.btn-default{
  display: inline-block;
  padding: 10px 30px;
  color: #e7e0d3;
  background-color:#99a483;;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 16px;
  cursor: pointer;
  border: none;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 30px;
}
.about-text a.btn.btn-default:hover{
  padding: 12px 40px;
  font-size: 18px;
  color: aliceblue;
}

/* our kitchen magician section */
.team-rows{
  display: flex;
  justify-content: space-around;
}
.team-item{
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.1px);
-webkit-backdrop-filter: blur(0.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
cursor: pointer;
}

.team-item-info{
  text-align: center;
  margin-top: 26px;
  margin-bottom: 12px;
}
.team-item-info{
background: rgba(255, 255, 255, 0.26);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.1px);
-webkit-backdrop-filter: blur(13.1px);
border: 1px solid rgba(255, 255, 255, 0.51);
}
.team-item:hover.team-item img{
transform: translateY(-30px);
transition: 0.4s;
}
.team-item:hover.team-item-info{
    transform: translateX(-390px);
    transition: 0.4s;
}

/* footer section starts */

.footer-items{
  margin-right: 7rem;
}
.footer-row{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 4rem;
} 
.footer-row #footer-items-logo p{
  width: 18rem;
}

.footer-items img{
  height: 80px;
  width: 94px;
}
.footer-items-info{
display: flex;
  align-items: center;

}
.footer-items ul{
  margin-top: 13px;
}
.footer-items ul a{
text-decoration: none;
color: rgb(98, 83, 83);
}
.footer-items ul li{
  margin-top: 4px;
}
.footer-items .sub_h4{
  margin-left: 46px;
}
.footer-items-info a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.footer-items-info{
  margin-top: 7px;
}
.footer-items-info a:hover{
text-decoration: underline;
}
.footer-items p{
  font-weight: bold;
  margin-left: 6px;
}
#footer-items-para{
  width: 18rem;
  margin-left: 3rem;
  margin-bottom: 36px;
}
.footer.container{
margin-top: 8rem;
}
.footer-items ul a li{
  font-size: 13px;
  font-weight: 550;
  color: black;
  cursor: pointer;
}
.footer-items-info img{
height: 13px;
width: auto;
margin-left: 3rem;
}
.footer-items-info p{
  font-size: 13px;
  cursor: pointer;
}